.upload-container {
    background-color: #000000;
    color: #ffffff;
    height: 250px;
    width: 700px;
    text-align: center;
    padding: 2%;
}

.image-container {
    display: flex;
    background-color: #000000;
    height: 250px;
    width: 700px;
    text-align: center;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.uploaded-image-container {
    position: relative;
    display: inline-block;
    flex: none;
    width: 225px;
    height: 225px;
    background-color: #ffffff;
    text-align: center;
    margin-right: 2%;
}

.uploaded-image-padding {
    position: relative;
    display: inline-block;
    flex: none;
    height: 225px;
    background-color: transparent;
    text-align: center;
    width: 3.75%;
}

.uploaded-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 95%;
    max-width: 95%;
}

.remove-image-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border: 0;
    color: #000000;
    font-size: 1em;
}

.remove-image-button-hidden {
    display: none;
}

input[type="file"] {
    display: none;
}
